*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:#f3f6fb;

}

.header{

    background:linear-gradient(135deg,#0f172a,#1d4ed8,#2563eb);

    color:white;

    text-align:center;

    padding:55px 20px;

    border-bottom-left-radius:35px;
    border-bottom-right-radius:35px;

    box-shadow:0 15px 35px rgba(0,0,0,.20);

}

.logo{

    width:120px;

    margin-bottom:20px;

    transition:.3s;

}

.logo:hover{

    transform:scale(1.08);

}

.header h1{

    font-size:42px;

    font-weight:bold;

    margin-bottom:12px;

}

.header p{

    font-size:20px;

    opacity:.9;

}
.container{

    width:95%;
    max-width:1200px;

    margin:auto;

    margin-top:-30px;

}

.filtros{

    background:white;

    padding:25px;

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

    gap:15px;

}

select{

    padding:14px;

    border-radius:10px;

    border:1px solid #ddd;

    font-size:15px;

}

button{

    background:#2563eb;

    color:white;

    border:none;

    border-radius:10px;

    cursor:pointer;

    font-size:16px;

    font-weight:bold;

    transition:.3s;

}

button:hover{

    transform:translateY(-2px);

    background:#1d4ed8;

}

#resultado{

    margin-top:35px;

}
/*=====================================
            CARDS
=====================================*/

.card{

    background:#fff;

    border-radius:20px;

    padding:25px;

    margin-top:25px;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

    border-left:6px solid #2563eb;

    transition:.3s;

}

.card:hover{

    transform:translateY(-4px);

    box-shadow:0 15px 35px rgba(0,0,0,.15);

}

.card h2{

    color:#1e3a8a;

    margin-bottom:20px;

    font-size:28px;

}

.info{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:20px;

}

.info p{

    background:#f8fafc;

    padding:15px;

    border-radius:12px;

    line-height:1.6;

}

.info strong{

    color:#2563eb;

}

.semResultado{

    margin-top:30px;

    background:white;

    padding:30px;

    border-radius:15px;

    text-align:center;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

}
/* ===========================
   TÍTULO DOS RESULTADOS
=========================== */

.tituloResultado{

    margin:35px 0 25px;

    color:#1e3a8a;

    font-size:30px;

    font-weight:bold;

}
